.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* margin: 15px; */
  overflow: hidden;
  transition: transform 0.2s;
  width: 300px; /* Fixed width */
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.03);
}

.card-image {
  width: 100%;
  height: 200px; /* Fixed height */
  object-fit: cover;
}

.card-body {
  padding: 15px;
  flex-grow: 1;
}

.card-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card-subtitle {
  font-size: 0.9rem;
  color: #666;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.teacher {
  font-weight: bold;
}

.hours {
  font-size: 0.8rem;
}
